* {
  direction: rtl;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Heebo";
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #76b5c5;
  height: 100vh;
}

.section {
  position: relative;
  padding: 1rem 8px;
  text-align: center;
  margin: 1rem 0;
  background-color: #fff;
  box-shadow: rgb(219, 221, 222) 0px 0px 4px 1px, rgb(187, 193, 196) 0px 1px 15px 6px;
  width: 90vw;
}

h1{
  margin: 0;
}

#btn{
  background-color: #76b5c5;
  width: 40%;
  height: 3rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 900;
}

#shareBtn{
  background: none;
  border: none;
  color: #057c9a;
  margin: 0;
  font-size: 1rem;
  font-weight: 900;
  text-decoration: underline;
  cursor: pointer;
}

p{
  margin: 0.5rem;
}

#basad{
  position: absolute;
  top: 10px;
}